<%= content_tag :div, class: "nested-fields", data: { new_record: form.object.new_record? } do %>
  <div class="grid gap-2 mt-2 grid-cols-10">
    <div class="col-span-5">
      <%= form.select :material_id, materials_select_options, { include_blank: true }, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
    </div>

    <div class="col-span-2">
      <%= form.text_field :quantity, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
    </div>

    <div class="col-span-2">
      <%= form.text_field :unit_price, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
    </div>

    <div class="flex justify-center items-center">
      <%= form.check_box :_destroy %>
    </div>
  </div>
<% end %>
