<div class="mt-8 flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Step</th>
              <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900 text-right">Cost</th>
              <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900 text-right">Budget</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% Step.all.each do |step| %>
            <tr>
              <td class="whitespace-nowrap py-2.5 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 flex items-center gap-x-2">
                <% if step.cost > step.budget %>
                  <div class="flex-none rounded-full p-1 text-rose-400 bg-rose-400/10">
                    <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                  </div>
                <% else %>
                  <div class="flex-none rounded-full p-1 text-green-400 bg-green-400/10">
                    <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                  </div>
                <% end %>
                <div>
                  <%= step.name %>
                </div>
              </td>
              <td class="whitespace-nowrap px-3 py-2.5 text-sm text-gray-500 text-right"><%= format_amount(step.cost) %></td>
              <td class="whitespace-nowrap px-3 py-2.5 text-sm text-gray-500 text-right"><%= format_amount(step.budget) %></td>
            </tr>
            <% end %>
          </tbody>
          <tfoot class="bg-gray-50 font-bold">
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 flex items-center gap-x-2">
                <% if Step.all.sum(&:cost) > Step.all.sum(&:budget) %>
                  <div class="flex-none rounded-full p-1 text-rose-400 bg-rose-400/10">
                    <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                  </div>
                <% else %>
                  <div class="flex-none rounded-full p-1 text-green-400 bg-green-400/10">
                    <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                  </div>
                <% end %>
                <div>TOTAL</div>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 text-right"><%= format_amount(Step.all.sum(&:cost)) %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 text-right"><%= format_amount(Step.all.sum(&:budget)) %></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
